<!DOCTYPE html>
<html class="application">
  <head>
    <title>Campanify</title>
  	<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  </head>
  <body>
	
		<%= render "shared/navbar" %>
			
		<%= render "shared/flash" %>
						
		<div class="container-fluid">
		  <div class="row-fluid">
		    <div class="main span12">
		      <%= yield %>
		    </div>
		  </div>
		</div>
		
		<%= render "shared/campaigns_template" %>
  	<%= javascript_include_tag "application" %>
		<script src="http://js.pusher.com/1.12/pusher.min.js"></script>
		<script>
		<% if Rails.env.development? %>
		Pusher.log = function(message) {
			if (window.console && window.console.log) window.console.log(message);
		};

		WEB_SOCKET_DEBUG = true;
		<% end %>
		var pusher = new Pusher('<%= ENV['PUSHER_API_KEY']%>'); // Replace with your app key
		var channel = pusher.subscribe('campaigns');
		channel.bind('update', function(data) {
			$.updateCampaignRow(data);	
		});
		</script>
		
		<script type="text/javascript">
		  var uvOptions = {};
		  (function() {
		    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
		    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/vk3y5vAAkRGtmXWl7Ytb5A.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
		  })();
		</script>
  </body>
</html>