<!DOCTYPE html>
<html class="welcome">
  <head>
    <title>Campanify</title>
  	<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  </head>
  <body class="welcome">
	
		<div class="container-fluid">
		  <div class="page row-fluid">
		    <div class="main span12">
					<a href="/"><i class="logo-96"></i></a>
					<br/>
					<br/>
		      <%= yield %>
		    </div>
		  </div>
			<div class="row-fluid">
				<%= render "shared/footer" %>		
			</div>		
		</div>
		
  	<%= javascript_include_tag "application" %>
  </body>
</html>